<div id="contact-form">
  <figure><img src="{{ site.baseurl }}/img/platform-blue.svg" alt="Maplink Platform"></figure>
  <hr>
  <form name="contato" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">
  <!-- <form name="contato" method="post" action="mailto:abraao.coutinho@maplink.global" enctype="text/plain"> -->

    <!-- Hidden fields -->
    <input type="hidden" name="oid" value="00Di0000000gpEn">
    <input type="hidden" name="debug" value=1>
    <input type="hidden" name="debugEmail" value="patrick.silva@maplink.com.br">
    <textarea type="hidden" id="00N3100000Gb1T5" name="00N3100000Gb1T5" type="text" wrap="soft" style="display:none">Landing Page Platform</textarea>
    <input type="text" id="00N0Z00000GwPRv" name="00N0Z00000GwPRv" placeholder="{% t 'contact.other-country' %}" pattern="[A-Za-z\s]+$" name="Country" style="display: none; float: right;">
    <input id="00Ni000000EHzqO" maxlength="250" name="00Ni000000EHzqO" size="20" type="text" value="Landing Page Platform" style="display:none">
    <select id="lead_source" name="lead_source" style="display:none">
      <option value="Inbound" selected>{% t 'contact.form.h1' %}</option>
    </select>
    <select id="00N3100000Fv42Y" name="00N3100000Fv42Y" title="BU" style="display:none">
      <option value="Logistics">Logistics</option>
    </select>
    <select id="00N3100000H1qRE" name="00N3100000H1qRE" title="Portifólio" style="display:none">
      <option value="Maplink Platform">Maplink Platform</option>
    </select>
    <input id="00Ni000000EGdc7" maxlength="255" name="00Ni000000EGdc7" style="display:none" type="text">

    <h1>{% t 'contact.form.h1' %}</h1>
    <input type="text" placeholder="{% t 'contact.form.name' %}" pattern="[A-Za-z\s]+$" required id="first_name" name="first_name">

    <div>
      <input type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required id="email" name="email">
      <select id="00Ni000000EGPgF" name="00Ni000000EGPgF">
        <option value="">{% t 'contact.country.opt1' %}</option>
        <option value="{% t 'contact.country.opt2' %}">{% t 'contact.country.opt2' %}</option>
        <option value="{% t 'contact.country.opt3' %}">{% t 'contact.country.opt3' %}</option>
        <option value="{% t 'contact.country.opt4' %}">{% t 'contact.country.opt4' %}</option>
        <option value="{% t 'contact.country.opt5' %}">{% t 'contact.country.opt5' %}</option>
        <option value="{% t 'contact.country.opt6' %}">{% t 'contact.country.opt6' %}</option>
        <option value="{% t 'contact.country.opt7' %}">{% t 'contact.country.opt7' %}</option>
        <option value="{% t 'contact.country.opt8' %}">{% t 'contact.country.opt8' %}</option>
        <option value="{% t 'contact.country.opt9' %}">{% t 'contact.country.opt9' %}</option>
        <option value="{% t 'contact.country.opt10' %}">{% t 'contact.country.opt10' %}</option>
        <option value="{% t 'contact.country.opt11' %}">{% t 'contact.country.opt11' %}</option>
        <option value="{% t 'contact.country.opt12' %}">{% t 'contact.country.opt12' %}</option>
        <option value="{% t 'contact.country.opt13' %}">{% t 'contact.country.opt13' %}</option>
        <option value="{% t 'contact.country.opt14' %}">{% t 'contact.country.opt14' %}</option>
        <option value="{% t 'contact.country.opt15' %}">{% t 'contact.country.opt15' %}</option>
        <option value="{% t 'contact.country.opt16' %}">{% t 'contact.country.opt16' %}</option>
        <option value="{% t 'contact.country.opt17' %}">{% t 'contact.country.opt17' %}</option>
        <option value="{% t 'contact.country.opt18' %}">{% t 'contact.country.opt18' %}</option>
        <option value="{% t 'contact.country.opt19' %}">{% t 'contact.country.opt19' %}</option>
        <option value="{% t 'contact.country.opt20' %}">{% t 'contact.country.opt20' %}</option>
        <option value="{% t 'contact.country.opt21' %}">{% t 'contact.country.opt21' %}</option>
        <option value="{% t 'contact.country.opt22' %}">{% t 'contact.country.opt22' %}</option>
        <option value="{% t 'contact.country.opt23' %}">{% t 'contact.country.opt23' %}</option>
        <option value="{% t 'contact.country.opt24' %}">{% t 'contact.country.opt24' %}</option>
        <option value="{% t 'contact.country.opt25' %}">{% t 'contact.country.opt25' %}</option>
        <option value="{% t 'contact.country.opt26' %}">{% t 'contact.country.opt26' %}</option>
        <option value="{% t 'contact.country.opt27' %}">{% t 'contact.country.opt27' %}</option>
        <option value="{% t 'contact.country.opt28' %}">{% t 'contact.country.opt28' %}</option>
        <option value="{% t 'contact.country.opt29' %}">{% t 'contact.country.opt29' %}</option>
        <option value="{% t 'contact.country.opt30' %}">{% t 'contact.country.opt30' %}</option>
        <option value="{% t 'contact.country.opt31' %}">{% t 'contact.country.opt31' %}</option>
        <option value="{% t 'contact.country.opt32' %}">{% t 'contact.country.opt32' %}</option>
        <option value="{% t 'contact.country.opt33' %}">{% t 'contact.country.opt33' %}</option>
        <option value="{% t 'contact.country.opt34' %}">{% t 'contact.country.opt34' %}</option>
        <option value="{% t 'contact.country.opt35' %}">{% t 'contact.country.opt35' %}</option>
        <option value="{% t 'contact.country.opt36' %}" id="opt36">{% t 'contact.country.opt36' %}</option>
      </select>
    </div>

    <div>
      <input type="tel" placeholder="{% t 'contact.form.phone' %}" pattern="[0-9]+$" maxlength="18" id="phone" name="phone">
      <input type="text" placeholder="{% t 'contact.form.company' %}" pattern="[A-Za-z\s]+$" required id="company" name="company">
    </div>

    <div>
      <select  id="00Ni000000EGCOl" name="00Ni000000EGCOl" title="{% t 'contact.size' %}" required>
        <option value="">{% t 'contact.size' %}</option>
        <option value="1 - 10">1 - 10</option>
        <option value="11 - 50">11 - 50</option>
        <option value="51 - 200">51 - 200</option>
        <option value="201 - 1000">201 - 1000</option>
        <option value="{% t 'contact.big' %}">{% t 'contact.big' %}</option>
      </select>

      <select id="00N3100000Gxfhc" name="00N3100000Gxfhc" title="Cargo" required>
        <option value="">{% t 'contact.selectJob.opt1' %}</option>
        <option value="{% t 'contact.selectJob.opt2' %}">{% t 'contact.selectJob.opt2' %}</option>
        <option value="{% t 'contact.selectJob.opt3' %}">{% t 'contact.selectJob.opt3' %}</option>
        <option value="{% t 'contact.selectJob.opt4' %}">{% t 'contact.selectJob.opt4' %}</option>
        <option value="{% t 'contact.selectJob.opt5' %}">{% t 'contact.selectJob.opt5' %}</option>
        <option value="{% t 'contact.selectJob.opt6' %}">{% t 'contact.selectJob.opt6' %}</option>
        <option value="{% t 'contact.selectJob.opt7' %}">{% t 'contact.selectJob.opt7' %}</option>
        <option value="{% t 'contact.selectJob.opt8' %}">{% t 'contact.selectJob.opt8' %}</option>
        <option value="{% t 'contact.selectJob.opt9' %}">{% t 'contact.selectJob.opt9' %}</option>
      </select>

      <select id="industry" name="industry" required>
        <option value="">{% t 'contact.industry.opt1' %}</option>
        <option value="{% t 'contact.industry.opt2' %}">{% t 'contact.industry.opt2' %}</option>
        <option value="{% t 'contact.industry.opt3' %}">{% t 'contact.industry.opt3' %}</option>
        <option value="{% t 'contact.industry.opt4' %}">{% t 'contact.industry.opt4' %}</option>
        <option value="{% t 'contact.industry.opt5' %}">{% t 'contact.industry.opt5' %}</option>
        <option value="{% t 'contact.industry.opt6' %}">{% t 'contact.industry.opt6' %}</option>
        <option value="{% t 'contact.industry.opt7' %}">{% t 'contact.industry.opt7' %}</option>
        <option value="{% t 'contact.industry.opt8' %}">{% t 'contact.industry.opt8' %}</option>
        <option value="{% t 'contact.industry.opt9' %}">{% t 'contact.industry.opt9' %}</option>
        <option value="{% t 'contact.industry.opt10' %}">{% t 'contact.industry.opt10' %}</option>
        <option value="{% t 'contact.industry.opt11' %}">{% t 'contact.industry.opt11' %}</option>
        <option value="{% t 'contact.industry.opt12' %}">{% t 'contact.industry.opt12' %}</option>
        <option value="{% t 'contact.industry.opt13' %}">{% t 'contact.industry.opt13' %}</option>
        <option value="{% t 'contact.industry.opt14' %}">{% t 'contact.industry.opt14' %}</option>
        <option value="{% t 'contact.industry.opt15' %}">{% t 'contact.industry.opt15' %}</option>
        <option value="{% t 'contact.industry.opt16' %}">{% t 'contact.industry.opt16' %}</option>
        <option value="{% t 'contact.industry.opt17' %}">{% t 'contact.industry.opt17' %}</option>
        <option value="{% t 'contact.industry.opt18' %}">{% t 'contact.industry.opt18' %}</option>
      </select>
    </div>

    <textarea class="txtarea" placeholder="{% t 'contact.form.msg' %}" id="00Ni000000BHk5x" name="00Ni000000BHk5x" required></textarea>

    <input type="submit" name="submit" value="{% t 'contact.form.send' %}">

  </form>

  <!-- Confirmation msg -->
  <aside>
    <strong>{% t 'contact.modal-sent.strong' %}</strong>
    <button type="button">Ok</button>
  </aside>

  <button type="button"><!-- Close button --></button>
</div>