<footer id="footer">
  <figure><img src="img/logo.jpg" alt="Verotthi Consultoria" /></figure>
  <ul>
  	<li><a href="https://br.linkedin.com/company/verotthi-consultores" title="LinkedIn" target="_blank"><!-- Linkedin --></a></li>
  	<li><a href="#verotthi" title="Subir"><!-- scroll up --></a></li>
  </ul>
  <small>&copy; 2021 Verotthi - todos os direitos reservados</small>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Slick carousel -->
<script type="text/javascript" src="{{ site.baseurl }}js/slick.min.js"></script>
<!-- Scripts -->
<script type="text/JavaScript" src="{{ site.baseurl }}js/scripts.js"></script>
<!-- Form submission -->
<script data-cfasync="false" type="text/javascript" src="{{ site.baseurl }}js/form-submission-handler.js"></script>